.todoTasks{
    border: 1px solid gray;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.taskCheck{
    border: 1px solid gray;
    width: 3%;
}
.taskLabel{
    width: 85%;
}
.taskControlButtonBox{
    width: 10%;
    width:20%;
    text-align:end;
}
.editTaskbtn{
    width: 30px;
     padding:3px;
     margin-right:3px;
     border-radius:5px;
     text-align: center;
}
.editTaskbtn:hover{
    background-color: blue;
}